body {
  background-color: white;
}

.App {
  text-align: center;
}

.App-header {
  height: 20vh;
  background-color: #004a7c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header img {
  height: auto;
  width: 20%;
}

h3 {
  color: red;
}
